.contact-container {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 2rem;
}

.contact-container h2 {
    font-size: 28px;
    color: #002b86;
    margin-bottom: 10px;
    text-align: center;
}

.contact-container p {
    text-align: center;
    color: #555;
    margin-bottom: 2rem;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-form {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #dfeaff;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.contact-form button {
    background-color: #002b86;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-form button:hover {
    background-color: #001f60;
}

.contact-info {
    margin-top: 1rem;
    flex: 1;
    min-width: 300px;
    background-color: #f6f8ff;
    padding: 1.5rem;
    border-radius: 2rem;

}

.contact-info h3 {
    color: #002b86;
    margin-bottom: 10px;
    text-align: center;
}

.map-placeholder {
    height: 200px;
    background-color: #dfe6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    color: #333;
}

.info-details {
    margin-top: 2rem;
}