.contact-container img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    display: block;

}

.contact-p1 {
    text-align: center;
    margin-top: 7rem;
}

.contact-h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.elements-container {
    border: 1px solid black;
    width: 38rem;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    font-size: 1.2rem;
    padding: 1.5rem;
    border-radius: 2rem;
    margin-top: 1rem;
    background-color: #f5f7fa;

}


.email {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

.email img {
    width: 38px;
    height: 38px;
}

.linkedin {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .elements-container {
        border: 1px solid black;
        width: 95%;
        max-width: 470px;
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        font-size: 1.1rem;
        padding: 1.3rem 0.3rem;
        border-radius: 1.8rem;
        flex-direction: column;
        align-items: center;
        margin: 1rem auto 0;

    }

    .contact-container img {
        width: 27px;
        height: 27px;
        object-fit: contain;
        display: block;
    }

    .email img {
        width: 34px;
        height: 34px;
    }


}

@media only screen and (max-width: 375px) {
    .elements-container {
        border: 1px solid black;
        width: 85%;
        max-width: 470px;
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        font-size: 0.9rem;
        padding: 1rem 0.3rem;
        margin: 1rem auto 0;

    }

    .contact-container img {
        width: 25px;
        height: 25px;
        object-fit: contain;
        display: block;
    }

    .email img {
        width: 32px;
        height: 32px;
    }

    .contact-h1 {
        font-size: 30px;
    }
}