.doctors-container h2 {
    text-align: center;
    margin-top: 7rem;
    font-size: 40px;
}

.doctors-wrapper {

    margin-top: 4rem;
    margin-left: 85px;
    margin-right: 85px;
    gap: 10px;

}

@media only screen and (max-width: 768px) {
    .doctors-container h2 {
        font-size: 30px;
        margin-top: 4rem;
    }

    .doctors-wrapper {
        margin-top: 2rem;
        margin-left: 30px;
        margin-right: 30px;
    }
}