.doctors-container h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 8rem;
}

.doctors-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
}