.banner {
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    gap: 300px;
    background-image: url('../../assets/images/hos-pic-2.jpg');
    background-size: cover;
    background-position: bottom;
    background-color: rgba(0, 0, 0, 0.70);
    background-blend-mode: darken;

}


.banner-img {
    max-width: 480px;
    max-height: 480px;
    position: relative;
}

.banner-img .ellipse-pic {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.banner-img .doctor-pic {
    position: relative;
    z-index: 2;
    max-width: 500px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.buttons button:first-child {
    background-color: rgb(0, 43, 134);
    color: white;
    border-radius: 10px;
}

.buttons button:last-child {
    border-radius: 10px;
}



.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.text-area h2 {
    font-size: 40px;
    color: white;
}

.text-area p {
    font-size: 30px;
    margin-top: -20px;
    color: white;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    padding: 20px 40px;
    margin-top: 1.5rem;
    border-radius: 7px;
    font-size: 18px;
    outline: none;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgb(0, 75, 237);
}

@media only screen and (max-width: 768px) {

    .banner-img {
        display: none;
    }

    .text-area {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .text-area h2 {
        font-size: 35px;
    }

    .text-area p {
        font-size: 20px;
    }

    .buttons button {
        margin-top: 20px;
        padding: 10px 20px;
    }
}