.section3-p,
.section3-h1 {
    text-align: center;
}

.section3 {
    margin-top: 7rem;
    margin-bottom: 2rem;
}

article img {
    width: 32px;
    height: 32px;

}

article {

    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 2.5rem;

}

.main-article-container {
    border: 1px solid black;
    width: 900px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: 0 auto;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .main-article-container {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .article-container {
        display: flex;
        flex-direction: column;
    }
}