.test-heading {
    text-align: center;
    margin-top: 2rem;
    font-size: 28px;
}

.form-image img {
    max-height: 450px;
    max-width: 350px;
    width: 60%;
    height: 100%;
}

.form-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.book-form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

form {
    margin-top: 2rem;
    width: 30%;
    box-sizing: border-box;
    background-color: #dfeaff;
    padding: 2rem 2rem;
    border-radius: 1rem;
}

form label {
    font-size: 18px;

}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.selected-test {
    margin-bottom: 1rem;
}

form button {
    background-color: #002b86;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 2rem;
}



form button:hover {
    background-color: #001f60;
}

@media only screen and (max-width:768px) {
    .form-image {
        display: none;
    }

    form {
        width: 100%;
        max-width: 350px;
    }

    .test-heading {
        font-size: 18px;
    }
}