.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
    margin-top: 1rem;
    position: relative;
}

.logo {
    font-size: 27px;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.nav-links a:first-child {
    border-bottom: 3px solid rgb(0, 43, 134);
}

.nav-links a:hover {
    border-bottom: 3px solid rgb(0, 43, 134);
}

.user-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(0, 43, 134);
    padding: 8px 15px;
    color: white;
    border-radius: 2rem;
}

.user-container:hover {
    background-color: rgb(0, 75, 237);
}

.user-container img {
    filter: brightness(0) invert(1);
    width: 14px;
    height: 14px;
}

.user-container a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 3px;
}


@media only screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-center {
        display: none;
    }

    .nav-center.open {
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        justify-content: center;
        background: white;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .user-container {
        display: none;
    }
}