.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    list-style: none;
    padding: 7px 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(14, 41, 95);
    border-radius: 6px;
}

@media only screen and (max-width: 768px) {
    .nav-links a {
        padding: 2px 5px;
        font-size: 7px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 2%;
    }
}