.services-container h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 4rem;
}

.services-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-items: center;
    margin-top: 2rem;
}