.bottom-btn {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;

}

.bottom-btn button {
    padding: 1rem 4rem;
    border-radius: 30px;
    border: none;
    outline: none;
    background: linear-gradient(135deg, rgb(0, 77, 145) 0%, rgb(0, 136, 255) 100%);
    color: white;
    font-weight: 500;
    cursor: pointer;
}