.portfolio-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 80vh;
}

.main-text-area {
    align-self: center;
    text-align: center;
}

.text-area {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.text-area p {
    font-weight: 600;
    text-align: center;
}

.text-p2 {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: rgb(85, 85, 85);
}


.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 9rem;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 2rem;
    cursor: pointer;
    background-color: white;

}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}


.banner-img img {
    height: 360px;
    width: 360px;
}

@media only screen and (max-width: 768px) {
    .portfolio-banner {
        display: flex;
        flex-direction: column;
        height: 60vh;
        gap: 1rem;
    }

    .banner-img img {
        height: 189px;
        width: 189px;
    }

    .text-area p {
        font-size: 16px;
    }

    .text-area h1 {
        font-size: 32px;
    }

    .text-p2 {
        font-size: 1.25rem;
    }

    .main-text-area {
        margin-top: 0rem;
    }

    .buttons button {
        width: 8rem;
        padding: 0.8rem;
    }

}