.packagecard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;

}

.package-card {
    width: 100%;
    max-width: 300px;
    border-radius: 18px;
    border: 1px solid #e2e2e2;
    background: #ffffff;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: .25s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .06);
}

.package-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 28px rgba(0, 0, 0, .08);
}

.img img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin: 0 auto;
}

.package-card h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.package-card p {
    font-size: 14px;
    color: #444;
    line-height: 1.4;
}

.package-card p:nth-of-type(2) {
    font-weight: 500;
    color: #000000;
}

.package-card p:nth-of-type(3) {
    font-size: 16px;
    font-weight: 600;
    color: #0050a1;
}

.package-card .package-btn {
    display: flex;
    justify-content: center;
}

.package-btn button {
    width: 100%;
    padding: 10px 12px;
    border-radius: 999px;
    border: none;
    background-color: #0050a1;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: .2s;
}

.package-btn button:hover {
    background-color: #006ee6;
}

@media(max-width:768px) {
    .packagecard-container {
        flex-direction: column;
        align-items: center;
    }
}