.app {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

}


.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  background-color: #1eff00;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.expense-list {
  list-style: none;
  padding: 0;
}

.expense-list li {
  background: #dfdfdf;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-list button {
  background-color: rgb(124, 0, 0);
  padding: 4px 8px;
  border-radius: 4px;
}
